:root {
  --title-color: #322153;
  --primary-color: #34cb79;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  font-family: "Ubuntu", sans-serif;
}

#page_home {
  height: 100vh;
  background: url("../img/home-background.svg") no-repeat;
  background-position: 35vw bottom;
}

#page_home .content {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1100px;
  height: 100vh;
  margin: 0 auto;
}

#page_home header {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  align-items: center;
}

#page_home header a {
  display: flex;
  color: var(--title-color);
  font-weight: 700;
}

#page_home header a span {
  margin-right: 16px;
  display: flex;
  background-image: url("../img/log-in.svg");
  width: 20px;
  height: 20px;
}

#page_home main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  height: 600px;
}

#page_home main h1 {
  font-size: 54px;
}

#page_home main p {
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
}

#page_home main a {
  display: flex;
  align-items: center;
  margin-top: 40px;
  width: 100%;
  max-width: 360px;
  height: 72px;
  border-radius: 8px;
  background-color: var(--primary-color);
  transition: 400ms;
}

#page_home main a:hover {
  background-color: #2fb86e;
}

#page_home main a strong {
  flex: 1;
  text-align: center;
  color: #fff;
}

#page_home main a span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  border-radius: 8px 0 0 8px;
  background-color: rgba(0, 0, 0, 0.08);
}

#page_home main a span::after {
  content: "";
  background-image: url("../img/search.svg");
  width: 20px;
  height: 20px;
}

@media (max-width: 900px) {
  #page_home {
    background-position-x: 70vw;
  }

  #page_home .content {
    align-items: center;
    text-align: center;
  }

  #page_home header a {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
  }

  #page_home main {
    align-items: center;
  }
}
